<nav class="navbar bg-primary navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header pull-left">
            <a class="navbar-brand pull-left">
                Search Games
            </a>
        </div>
        <p class="navbar-text pull-right">
            <a href="#!/" class="navbar-link pull-right">
                <span class="glyphicon glyphicon-home"></span>
            </a>
        </p>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <label for="myDate"></label>
        <div class="input-group date" data-provide="datepicker">
            <input id="myDate"
                   ng-model="date"
                   type="text"
                   class="form-control"
                   placeholder="Choose Date">
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </div>
        </div>
    </div>

    <a ng-click="model.search(myDate)"
       class="btn btn-primary btn-block">Search</a>

    <div class="row">
        <div ng-repeat="game in model.games">
            <a href="">
                <!-- ng-click="model.getPlayer(player)" -->>
            </a>
        </div>
    </div>
</div>
