<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header pull-left">
            <a class="navbar-brand pull-left" href="#">
                Edit Widget
            </a>
        </div>
    </div>
</nav>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="#!/profile" class="navbar-link pull-right">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </p>
    </div>
</nav>