<div ng-switch="model.widgetType">
    <div ng-switch-when="HEADING">
        <div ng-include src="'views/widget/editors/widget-heading-edit.view.client.html'"></div>
    </div>
    <div ng-switch-when="IMAGE">
        <div ng-include src="'views/widget/editors/widget-image-edit.view.client.html'"></div>
    </div>
    <div ng-switch-when="YOUTUBE">
        <div ng-include src="'views/widget/editors/widget-youtube-edit.view.client.html'"></div>
    </div>
    <div ng-switch-when="HTML">
        <div ng-model="model.widget.text"
             text-angular
             ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
        ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
        ['indent','outdent'],['html']]">
        </div>
    </div>
    <div ng-switch-when="TEXT">
        Text
        <input ng-model="model.widget.text" class="form-control"/>
        Rows
        <input ng-model="model.widget.rows" class="form-control" type="number"/>
        Placeholder
        <input ng-model="model.widget.placeholder" class="form-control"/>
        Formatted
        <input ng-model="model.widget.formatted" type="checkbox"/>
    </div>

</div>

