<nav class="navbar bg-primary navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header pull-left">
            <a class="navbar-brand pull-left">
                Choose Widget
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">

    <a ng-click="model.newHeader()"
       class="btn btn-primary btn-block">
        Header
    </a>

    <a ng-click="model.newImage()"
       class="btn btn-primary btn-block">
        Image
    </a>

    <a ng-click="model.newYouTube()"
       class="btn btn-primary btn-block">
        YouTube
    </a>

</div>

<nav class="navbar bg-primary navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="#!/user/{{model.userId}}" class="navbar-link pull-right">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </p>
    </div>
</nav>