<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header pull-left">
            <a class="navbar-brand pull-left" href="#">
                Widget List
            </a>
        </div>
        <p class="navbar-text pull-right">
            <a href="widget-chooser.view.client.html" class="navbar-link pull-right">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </p>
    </div>
</nav>

<div class="container-fluid">

    <div ng-repeat="widget in model.widgets"
         class="wd-widget">
        <div class="wd-toolbar">
            <span class="glyphicon glyphicon-cog"></span>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <div ng-include="model.getWidgetUrlForType(widget.widgetType)"></div>
        <div ng-switch="widget.widgetType">

            <div ng-switch-when="HEADING" ng-switch="widget.size">
                <h1 ng-switch-when="1">{{widget.text}}</h1>
                <h2 ng-switch-when="2">{{widget.text}}</h2>
                <h3 ng-switch-when="3">{{widget.text}}</h3>
                <h4 ng-switch-when="4">{{widget.text}}</h4>
                <h5 ng-switch-when="5">{{widget.text}}</h5>
                <h6 ng-switch-when="6">{{widget.text}}</h6>

                <div ng-include="'views/widget/templates/widget-heading.view.client.html'"></div>
            </div>

            <div ng-switch-when="IMAGE">
                <img ng-src="{{widget.url}}"
                     width="{{widget.width}}"/>
                <div ng-include="'views/widget/templates/widget-image.view.client.html'"></div>
            </div>

            <div ng-switch-when="HTML"
                 ng-bind-html="model.trustThisContent(widget.text)">
            </div>

            <div ng-switch-when="YOUTUBE">
                <iframe width="100%" src="{{model.getYoutubeEmbedUrl(widget.url)}}" frameborder="0" allowfullscreen></iframe>
                <div ng-include="'views/widget/templates/widget-youtube.view.client.html'"></div>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="#!/profile" class="navbar-link pull-right">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </p>
    </div>
</nav>