<nav class="navbar bg-primary navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header pull-left">
            <a class="navbar-brand pull-left">
                New Website
            </a>
        </div>
        <p class="navbar-text pull-right">
            <a ng-click="model.newWebsite(name, description)"
               class="navbar-link pull-right">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </p>
    </div>
</nav>

<div class="col-xs-12 col-sm-8">
    <label for="name">Name</label>
    <input id="name"
           ng-model="name"
           class="form-control"
           value="Website Name"/>

    <label for="title">Title</label>
    <textarea id="title"
              ng-model="description"
              rows="5"
              class="form-control">Description</textarea>
</div>

<nav class="navbar bg-primary navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="#!/user/{{model.userId}}" class="navbar-link pull-right">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </p>
    </div>
</nav>