<nav class="navbar bg-primary navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header pull-left">
            <a class="navbar-brand pull-left">
                Edit Heading Widget
            </a>
        </div>
        <p class="navbar-text pull-right">
            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget"
               class="navbar-link pull-right">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </p>
    </div>
</nav>

<div class="col-xs-12 col-sm-8 col-md-8">
    <label for="name">Name</label>
    <input ng-model="name"
           id="name"
           class="form-control"
           value="{{model.name}}"/>

    <label for="text">Text</label>
    <textarea ng-model="text"
              id="text"
              rows="5"
              class="form-control"
              value="{{model.description}}">
    </textarea>

    <label for="url">URL</label>
    <input ng-model="url"
           id="url"
           class="form-control"
           value=""/>

    <a class="btn btn-info btn-block" href="#!/widget/{{model.widgetId}}/search">
        Search
    </a>

    <label>Upload</label>
    <form action="/api/upload"   method="post" enctype="multipart/form-data">
        <input  name="myFile"    type="file" class="form-control"/>
        <input  name="width"     value="{{model.widget.width}}" style="display: none"/>
        <input  name="userId"    value="{{model.userId}}"       style="display: none"/>
        <input  name="websiteId" value="{{model.websiteId}}"    style="display: none"/>
        <input  name="pageId"    value="{{model.pageId}}"       style="display: none"/>
        <input  name="widgetId"  value="{{model.widget._id}}"   style="display: none"/>
        <button type="submit"    class="btn btn-block btn-primary">Upload Image</button>
    </form>

    <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget"
       class="btn btn-block btn-danger">
        Delete
    </a>
</div>

<nav class="navbar bg-primary navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="#!/user/{{model.userId}}" class="navbar-link pull-right">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </p>
    </div>
</nav>