<nav class="navbar bg-primary navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header pull-left">
            <a class="navbar-brand pull-left">
                Profile
            </a>
        </div>
        <div ng-switch={{model.following}}>
            <div ng-switch-when="TRUE">

                <p class="navbar-text pull-right">
                    <!-- TODO changes for follow (empty star)/unfollow (star)-->
                    <a ng-click="model.unfollow()"
                       class="navbar-link pull-right">
                        <span class="glyphicon glyphicon-star"></span>
                    </a>
                </p>
            </div>

            <div ng-switch-when="FALSE">

                <p class="navbar-text pull-right">
                    <!-- TODO changes for follow (empty star)/unfollow (star)-->
                    <a ng-click="model.follow()"
                       class="navbar-link pull-right">
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </a>
                </p>
            </div>
        </div>

    </div>
</nav>


<div class="container-fluid">
    <h1>Profile</h1>

    <h3>Username</h3>
    {{model.username}}

    <h3>First Name</h3>
    {{model.firstName}}

    <a class="btn btn=primary  btn-block"
       ng-click="model.addFriend()">Follow</a>


</div>

<div class="container-fluid">

    <ul class="list-group">
        <li class="list-group-item active">
            <div class="row">
                <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                    Posts
                </div>
            </div>
        </li>

        <li ng-repeat="post in model.posts" class="list-group-item">

            <div class="row">
                <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                    <a href="#!/post/{{post._id}}">
                        {{post.title}}
                    </a>
                </div>
            </div>

        </li>
    </ul>
</div>

<nav class="navbar bg-primary navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="#!/profile" class="navbar-link pull-right">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </p>
    </div>
</nav>

